In [1]:
import pandas as pd
d=pd.read_excel("final catgry.xlsx")
d

,Unnamed: 0,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),...,Year_2017 - 2018,Year_2018 - 2019,Year_2019 - 2020,Season_Kharif,Season_rabi,Crop_Groundnut,Crop_Maize,Crop_Moong(Green Gram),Crop_Rice,Crop_cotton(lint)
0,0,156.040000,29.100000,40.50,7.55,180.00,17.60,284.00,1.350,14.00,...,0,0,0,1,0,0,0,0,0,1
1,1,165.740000,26.100000,37.60,7.55,180.00,17.60,284.00,1.350,14.00,...,0,0,0,1,0,0,0,0,0,1
2,2,240.520000,27.300000,38.30,7.55,180.00,17.60,284.00,1.350,14.00,...,0,0,0,1,0,0,0,0,0,1
3,3,180.180000,27.600000,37.40,7.55,180.00,17.60,284.00,1.350,14.00,...,1,0,0,1,0,0,0,0,0,1
4,4,256.060000,25.380000,39.94,7.55,180.00,17.60,284.00,1.350,14.00,...,0,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,1115,15.042900,9.600000,44.90,5.50,162.69,18.08,215.84,1.833,4.67,...,0,0,1,0,1,0,0,0,1,0
1116,1116,5.171429,28.300000,41.80,6.54,170.70,34.10,283.10,3.200,8.30,...,0,0,0,0,1,0,0,0,1,0
1117,1117,11.285714,20.000000,35.10,6.54,170.70,34.10,283.10,3.200,8.30,...,1,0,0,0,1,0,0,0,1,0
1118,1118,6.571429,20.166667,40.70,6.54,170.70,34.10,283.10,3.200,8.30,...,0,1,0,0,1,0,0,0,1,0
1119,1119,11.271429,12.200000,45.20,6.54,170.70,34.10,283.10,3.200,8.30,...,0,0,1,0,1,0,0,0,1,0

In [2]:
d=d.drop("Unnamed: 0",axis=1)

In [3]:
d=d.drop(['Year_2014 - 2015', 'Year_2015 - 2016','Year_2016 - 2017', 'Year_2017 - 2018', 'Year_2018 - 2019','Year_2019 - 2020'], axis=1)

In [4]:
d

,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),Cu(ppm),...,District_Warangal,District_Warangal urban,District_Yadadri,Season_Kharif,Season_rabi,Crop_Groundnut,Crop_Maize,Crop_Moong(Green Gram),Crop_Rice,Crop_cotton(lint)
0,156.040000,29.100000,40.50,7.55,180.00,17.60,284.00,1.350,14.00,0.58,...,0,0,0,1,0,0,0,0,0,1
1,165.740000,26.100000,37.60,7.55,180.00,17.60,284.00,1.350,14.00,0.58,...,0,0,0,1,0,0,0,0,0,1
2,240.520000,27.300000,38.30,7.55,180.00,17.60,284.00,1.350,14.00,0.58,...,0,0,0,1,0,0,0,0,0,1
3,180.180000,27.600000,37.40,7.55,180.00,17.60,284.00,1.350,14.00,0.58,...,0,0,0,1,0,0,0,0,0,1
4,256.060000,25.380000,39.94,7.55,180.00,17.60,284.00,1.350,14.00,0.58,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,15.042900,9.600000,44.90,5.50,162.69,18.08,215.84,1.833,4.67,2.76,...,0,1,0,0,1,0,0,0,1,0
1116,5.171429,28.300000,41.80,6.54,170.70,34.10,283.10,3.200,8.30,1.60,...,0,0,1,0,1,0,0,0,1,0
1117,11.285714,20.000000,35.10,6.54,170.70,34.10,283.10,3.200,8.30,1.60,...,0,0,1,0,1,0,0,0,1,0
1118,6.571429,20.166667,40.70,6.54,170.70,34.10,283.10,3.200,8.30,1.60,...,0,0,1,0,1,0,0,0,1,0
1119,11.271429,12.200000,45.20,6.54,170.70,34.10,283.10,3.200,8.30,1.60,...,0,0,1,0,1,0,0,0,1,0

In [5]:
y=d['Yield (Bales/Hectare)'].values
y

array([1.88, 2.49, 2.72, ..., 3.62, 3.53, 3.55])

In [6]:
x=d.drop('Yield (Bales/Hectare)',axis=1).values
x

array([[156.04      ,  29.1       ,  40.5       , ...,   0.        ,
          0.        ,   1.        ],
       [165.74      ,  26.1       ,  37.6       , ...,   0.        ,
          0.        ,   1.        ],
       [240.52      ,  27.3       ,  38.3       , ...,   0.        ,
          0.        ,   1.        ],
       ...,
       [ 11.28571429,  20.        ,  35.1       , ...,   0.        ,
          1.        ,   0.        ],
       [  6.57142857,  20.16666667,  40.7       , ...,   0.        ,
          1.        ,   0.        ],
       [ 11.27142857,  12.2       ,  45.2       , ...,   0.        ,
          1.        ,   0.        ]])

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [8]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score
model = XGBRegressor(n_estimators=190, learning_rate=0.31)
model.fit(x_train, y_train)
y_pred=model.predict(x_test)
print("r2_score",r2_score(y_test,y_pred))
print("mean_sq_err",mean_squared_error(y_test,y_pred))

r2_score 0.8505973349062341
mean_sq_err 0.5463881733404864

In [ ]:
import pickle as p
p.dump(model,open("model.pkl","wb"))