In [1]:
import pandas as pd
d=pd.read_excel("final catgry.xlsx")
d

,Unnamed: 0,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),...,Year_2017 - 2018,Year_2018 - 2019,Year_2019 - 2020,Season_Kharif,Season_rabi,Crop_Groundnut,Crop_Maize,Crop_Moong(Green Gram),Crop_Rice,Crop_cotton(lint)
0,0,156.040000,29.100000,40.50,7.55,180.00,17.60,284.00,1.350,14.00,...,0,0,0,1,0,0,0,0,0,1
1,1,165.740000,26.100000,37.60,7.55,180.00,17.60,284.00,1.350,14.00,...,0,0,0,1,0,0,0,0,0,1
2,2,240.520000,27.300000,38.30,7.55,180.00,17.60,284.00,1.350,14.00,...,0,0,0,1,0,0,0,0,0,1
3,3,180.180000,27.600000,37.40,7.55,180.00,17.60,284.00,1.350,14.00,...,1,0,0,1,0,0,0,0,0,1
4,4,256.060000,25.380000,39.94,7.55,180.00,17.60,284.00,1.350,14.00,...,0,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,1115,15.042900,9.600000,44.90,5.50,162.69,18.08,215.84,1.833,4.67,...,0,0,1,0,1,0,0,0,1,0
1116,1116,5.171429,28.300000,41.80,6.54,170.70,34.10,283.10,3.200,8.30,...,0,0,0,0,1,0,0,0,1,0
1117,1117,11.285714,20.000000,35.10,6.54,170.70,34.10,283.10,3.200,8.30,...,1,0,0,0,1,0,0,0,1,0
1118,1118,6.571429,20.166667,40.70,6.54,170.70,34.10,283.10,3.200,8.30,...,0,1,0,0,1,0,0,0,1,0
1119,1119,11.271429,12.200000,45.20,6.54,170.70,34.10,283.10,3.200,8.30,...,0,0,1,0,1,0,0,0,1,0

In [2]:
d.columns

Index(['Unnamed: 0', 'Rainfall(mm)', 'Minimum Temparature(C)',
       'Maximum Temperature (C)', 'Ph', 'N(Kg/Hectar)', 'P(Kg/Hectar)',
       'K(Kg/Hectar)', 'Zn(ppm)', 'Fe(ppm)', 'Cu(ppm)', 'Mn(ppm)',
       'Irrigation(MBGL)', 'Yield (Bales/Hectare)', 'District_Adilabad',
       'District_Bhadradri', 'District_Jagitial', 'District_Jangoan',
       'District_Jayashankar', 'District_Jogulamba', 'District_Kamareddy',
       'District_Karimnagar', 'District_Khammam',
       'District_Komaram bheem asifabad', 'District_Mahabubabad',
       'District_Mahbubnagar', 'District_Mancherial', 'District_Medak',
       'District_Medchal', 'District_Mulugu', 'District_Nagarkurnool',
       'District_Nalgonda', 'District_Narayanapet', 'District_Nirmal',
       'District_Nizamabad', 'District_Peddapalli', 'District_Rajanna',
       'District_Rangareddy', 'District_Sangareddy', 'District_Siddipet',
       'District_Suryapet', 'District_Vikarabad', 'District_Wanaparthy',
       'District_Warangal', 'District_Warangal urban', 'District_Yadadri',
       'Year_2014 - 2015', 'Year_2015 - 2016', 'Year_2016 - 2017',
       'Year_2017 - 2018', 'Year_2018 - 2019', 'Year_2019 - 2020',
       'Season_Kharif', 'Season_rabi', 'Crop_Groundnut', 'Crop_Maize',
       'Crop_Moong(Green Gram)', 'Crop_Rice', 'Crop_cotton(lint)'],
      dtype='object')

In [3]:
d=d.drop(['Unnamed: 0','Year_2014 - 2015', 'Year_2015 - 2016', 'Year_2016 - 2017','Year_2017 - 2018', 'Year_2018 - 2019', 'Year_2019 - 2020','N(Kg/Hectar)', 'P(Kg/Hectar)','K(Kg/Hectar)', 'Zn(ppm)', 'Fe(ppm)', 'Cu(ppm)', 'Mn(ppm)'], axis=1)

In [4]:
d.columns

Index(['Rainfall(mm)', 'Minimum Temparature(C)', 'Maximum Temperature (C)',
       'Ph', 'Irrigation(MBGL)', 'Yield (Bales/Hectare)', 'District_Adilabad',
       'District_Bhadradri', 'District_Jagitial', 'District_Jangoan',
       'District_Jayashankar', 'District_Jogulamba', 'District_Kamareddy',
       'District_Karimnagar', 'District_Khammam',
       'District_Komaram bheem asifabad', 'District_Mahabubabad',
       'District_Mahbubnagar', 'District_Mancherial', 'District_Medak',
       'District_Medchal', 'District_Mulugu', 'District_Nagarkurnool',
       'District_Nalgonda', 'District_Narayanapet', 'District_Nirmal',
       'District_Nizamabad', 'District_Peddapalli', 'District_Rajanna',
       'District_Rangareddy', 'District_Sangareddy', 'District_Siddipet',
       'District_Suryapet', 'District_Vikarabad', 'District_Wanaparthy',
       'District_Warangal', 'District_Warangal urban', 'District_Yadadri',
       'Season_Kharif', 'Season_rabi', 'Crop_Groundnut', 'Crop_Maize',
       'Crop_Moong(Green Gram)', 'Crop_Rice', 'Crop_cotton(lint)'],
      dtype='object')

In [6]:
y=d['Yield (Bales/Hectare)'].values
y

array([1.88, 2.49, 2.72, ..., 3.62, 3.53, 3.55])

In [7]:
x=d.drop('Yield (Bales/Hectare)',axis=1).values
x

array([[156.04      ,  29.1       ,  40.5       , ...,   0.        ,
          0.        ,   1.        ],
       [165.74      ,  26.1       ,  37.6       , ...,   0.        ,
          0.        ,   1.        ],
       [240.52      ,  27.3       ,  38.3       , ...,   0.        ,
          0.        ,   1.        ],
       ...,
       [ 11.28571429,  20.        ,  35.1       , ...,   0.        ,
          1.        ,   0.        ],
       [  6.57142857,  20.16666667,  40.7       , ...,   0.        ,
          1.        ,   0.        ],
       [ 11.27142857,  12.2       ,  45.2       , ...,   0.        ,
          1.        ,   0.        ]])

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
rf=RandomForestRegressor()
rf.fit(x_train,y_train)
y_pred=rf.predict(x_test)
print("r2_score",r2_score(y_test,y_pred))
print("mean_sq_err",mean_squared_error(y_test,y_pred))

r2_score 0.8269606513544113
mean_sq_err 0.6328311048745535

In [11]:
from sklearn.ensemble import GradientBoostingRegressor
gb=GradientBoostingRegressor()
gb.fit(x_train,y_train)
y_pred=gb.predict(x_test)
print("r2_score",r2_score(y_test,y_pred))
print("mean_sq_err",mean_squared_error(y_test,y_pred))

r2_score 0.8322133029675051
mean_sq_err 0.6136213624093101

In [12]:
from sklearn.ensemble import BaggingRegressor
bg=BaggingRegressor()
bg.fit(x_train,y_train)
y_pred=bg.predict(x_test)
print("r2_score",r2_score(y_test,y_pred))
print("mean_sq_err",mean_squared_error(y_test,y_pred))

r2_score 0.8070564716366677
mean_sq_err 0.7056237045982144

In [13]:
from xgboost import XGBRegressor
model = XGBRegressor()
model.fit(x_train, y_train)
y_pred=model.predict(x_test)
print("r2_score",r2_score(y_test,y_pred))
print("mean_sq_err",mean_squared_error(y_test,y_pred))

r2_score 0.8179999057862195
mean_sq_err 0.6656019085258832

In [13]:
import pickle as p
p.dump(gb,open("model.pkl","wb"))